html {
  background: #0c0c0c;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 2em;
}

h1 .wrap {
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

b {
  text-shadow: 1px 1px 1px #fff, 1px 1px 10px #ccc;
}

.logintoplay {
  position: absolute;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  top: 60%;
  left: 50%;
  width: 490px;
  height: 45px;
  border-radius: 24px;
  background-color: #000;
  border-color: #000;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.logintoplay:not([disabled]):focus,
.logintoplay:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.playbutton {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  line-height: 36px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.register {
  position: absolute;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  top: 69%;
  left: 50%;
  width: 490px;
  height: 45px;
  border-radius: 24px;
  background-color: #000;
  border-color: #000;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.register:not([disabled]):focus,
.register:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.registerbutton {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  line-height: 36px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url("hero-bg.jpg"), #000; */
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.button-c {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  color: #000;
  /* font-weight: 600; */
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 24px;
  /* font-size: 16px; */
  border: 2px solid transparent;
  transition: 0.3s ease;
}

span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.button-c:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.register-link {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

#stars,
#stars1,
#stars2,
#stars3 {
  position: absolute;
  z-index: 0;
  background: transparent;
}

#stars {
  width: 2px;
  height: 2px;
  box-shadow: 483px 450px #fff, 1995px 525px #fff, 755px 1459px #fff,
    610px 1246px #fff, 764px 1850px #fff, 1274px 1697px #fff, 1227px 37px #fff,
    1090px 506px #fff, 341px 1005px #fff, 1002px 755px #fff, 693px 1497px #fff,
    1797px 1626px #fff, 1838px 793px #fff, 802px 881px #fff, 1117px 1983px #fff,
    352px 1465px #fff, 1526px 852px #fff, 1559px 526px #fff, 517px 516px #fff,
    1380px 244px #fff, 662px 1531px #fff, 1544px 518px #fff, 253px 879px #fff,
    774px 1629px #fff, 752px 994px #fff, 1129px 726px #fff, 232px 1050px #fff,
    1766px 290px #fff, 1976px 842px #fff, 662px 1535px #fff, 257px 1016px #fff,
    665px 708px #fff, 1476px 1772px #fff, 261px 498px #fff, 719px 1459px #fff,
    469px 438px #fff, 994px 474px #fff, 744px 808px #fff, 1609px 1741px #fff,
    898px 260px #fff, 1978px 1436px #fff, 904px 1244px #fff, 123px 773px #fff,
    6px 923px #fff, 1973px 1778px #fff, 1470px 1861px #fff, 1037px 156px #fff,
    554px 1905px #fff, 1508px 849px #fff, 1213px 1603px #fff, 87px 1907px #fff,
    492px 527px #fff, 91px 213px #fff, 492px 15px #fff, 1357px 1157px #fff,
    637px 240px #fff, 1515px 281px #fff, 1757px 682px #fff, 1035px 1298px #fff,
    1019px 1233px #fff, 25px 162px #fff, 262px 884px #fff, 1328px 965px #fff,
    984px 879px #fff, 1213px 689px #fff, 623px 1091px #fff, 1227px 422px #fff,
    1977px 1025px #fff, 620px 474px #fff, 528px 1525px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 483px 450px #fff, 1995px 525px #fff, 755px 1459px #fff,
    610px 1246px #fff, 764px 1850px #fff, 1274px 1697px #fff, 1227px 37px #fff,
    1090px 506px #fff, 341px 1005px #fff, 1002px 755px #fff, 693px 1497px #fff,
    1797px 1626px #fff, 1838px 793px #fff, 802px 881px #fff, 1117px 1983px #fff,
    352px 1465px #fff, 1526px 852px #fff, 1559px 526px #fff, 517px 516px #fff,
    1380px 244px #fff, 662px 1531px #fff, 1544px 518px #fff, 253px 879px #fff,
    774px 1629px #fff, 752px 994px #fff, 1129px 726px #fff, 232px 1050px #fff,
    1766px 290px #fff, 1976px 842px #fff, 662px 1535px #fff, 257px 1016px #fff,
    665px 708px #fff, 1476px 1772px #fff, 261px 498px #fff, 719px 1459px #fff,
    469px 438px #fff, 994px 474px #fff, 744px 808px #fff, 1609px 1741px #fff,
    898px 260px #fff, 1978px 1436px #fff, 904px 1244px #fff, 123px 773px #fff,
    6px 923px #fff, 1973px 1778px #fff, 1470px 1861px #fff, 1037px 156px #fff,
    554px 1905px #fff, 1508px 849px #fff, 1213px 1603px #fff, 87px 1907px #fff,
    492px 527px #fff, 91px 213px #fff, 492px 15px #fff, 1357px 1157px #fff,
    637px 240px #fff, 1515px 281px #fff, 1757px 682px #fff, 1035px 1298px #fff,
    1019px 1233px #fff, 25px 162px #fff, 262px 884px #fff, 1328px 965px #fff,
    984px 879px #fff, 1213px 689px #fff, 623px 1091px #fff, 1227px 422px #fff,
    1977px 1025px #fff, 620px 474px #fff, 528px 1525px #fff;
}

#stars1 {
  width: 4px;
  height: 4px;
  box-shadow: 483px 450px #fff, 1995px 525px #fff, 755px 1459px #fff,
    610px 1246px #fff, 764px 1850px #fff, 1274px 1697px #fff, 1227px 37px #fff,
    1090px 506px #fff, 341px 1005px #fff, 1002px 755px #fff, 693px 1497px #fff,
    1797px 1626px #fff, 1838px 793px #fff, 802px 881px #fff, 1117px 1983px #fff,
    352px 1465px #fff, 1526px 852px #fff, 1559px 526px #fff, 517px 516px #fff,
    1380px 244px #fff, 662px 1531px #fff, 1544px 518px #fff, 253px 879px #fff,
    774px 1629px #fff, 752px 994px #fff, 1129px 726px #fff, 232px 1050px #fff,
    1766px 290px #fff, 1976px 842px #fff, 662px 1535px #fff, 257px 1016px #fff,
    665px 708px #fff, 1476px 1772px #fff, 261px 498px #fff, 719px 1459px #fff,
    469px 438px #fff, 994px 474px #fff, 744px 808px #fff, 1609px 1741px #fff,
    898px 260px #fff, 1978px 1436px #fff, 904px 1244px #fff, 123px 773px #fff,
    6px 923px #fff, 1973px 1778px #fff, 1470px 1861px #fff, 1037px 156px #fff,
    554px 1905px #fff, 1508px 849px #fff, 1213px 1603px #fff, 87px 1907px #fff,
    492px 527px #fff, 91px 213px #fff, 492px 15px #fff, 1357px 1157px #fff,
    637px 240px #fff, 1515px 281px #fff, 1757px 682px #fff, 1035px 1298px #fff,
    1019px 1233px #fff, 25px 162px #fff, 262px 884px #fff, 1328px 965px #fff,
    984px 879px #fff, 1213px 689px #fff, 623px 1091px #fff, 1227px 422px #fff,
    1977px 1025px #fff, 620px 474px #fff, 528px 1525px #fff;
  animation: animStar 200s linear infinite;
}
#stars1:after {
  content: " ";
  position: absolute;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 483px 450px #fff, 1995px 525px #fff, 755px 1459px #fff,
    610px 1246px #fff, 764px 1850px #fff, 1274px 1697px #fff, 1227px 37px #fff,
    1090px 506px #fff, 341px 1005px #fff, 1002px 755px #fff, 693px 1497px #fff,
    1797px 1626px #fff, 1838px 793px #fff, 802px 881px #fff, 1117px 1983px #fff,
    352px 1465px #fff, 1526px 852px #fff, 1559px 526px #fff, 517px 516px #fff,
    1380px 244px #fff, 662px 1531px #fff, 1544px 518px #fff, 253px 879px #fff,
    774px 1629px #fff, 752px 994px #fff, 1129px 726px #fff, 232px 1050px #fff,
    1766px 290px #fff, 1976px 842px #fff, 662px 1535px #fff, 257px 1016px #fff,
    665px 708px #fff, 1476px 1772px #fff, 261px 498px #fff, 719px 1459px #fff,
    469px 438px #fff, 994px 474px #fff, 744px 808px #fff, 1609px 1741px #fff,
    898px 260px #fff, 1978px 1436px #fff, 904px 1244px #fff, 123px 773px #fff,
    6px 923px #fff, 1973px 1778px #fff, 1470px 1861px #fff, 1037px 156px #fff,
    554px 1905px #fff, 1508px 849px #fff, 1213px 1603px #fff, 87px 1907px #fff,
    492px 527px #fff, 91px 213px #fff, 492px 15px #fff, 1357px 1157px #fff,
    637px 240px #fff, 1515px 281px #fff, 1757px 682px #fff, 1035px 1298px #fff,
    1019px 1233px #fff, 25px 162px #fff, 262px 884px #fff, 1328px 965px #fff,
    984px 879px #fff, 1213px 689px #fff, 623px 1091px #fff, 1227px 422px #fff,
    1977px 1025px #fff, 620px 474px #fff, 528px 1525px #fff;
}

#stars2 {
  width: 6px;
  height: 6px;
  box-shadow: 1585px 315px #fff, 1750px 858px #fff, 502px 1184px #fff,
    1482px 150px #fff, 870px 93px #fff, 1401px 1976px #fff, 494px 1549px #fff,
    1607px 1894px #fff, 1029px 1466px #fff, 1931px 1390px #fff,
    819px 1431px #fff, 521px 1062px #fff, 1754px 574px #fff, 577px 943px #fff,
    850px 1377px #fff, 445px 1835px #fff, 1658px 1675px #fff, 521px 1144px #fff,
    560px 1624px #fff, 1329px 1778px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow: 1585px 315px #fff, 1750px 858px #fff, 502px 1184px #fff,
    1482px 150px #fff, 870px 93px #fff, 1401px 1976px #fff, 494px 1549px #fff,
    1607px 1894px #fff, 1029px 1466px #fff, 1931px 1390px #fff,
    819px 1431px #fff, 521px 1062px #fff, 1754px 574px #fff, 577px 943px #fff,
    850px 1377px #fff, 445px 1835px #fff, 1658px 1675px #fff, 521px 1144px #fff,
    560px 1624px #fff, 1329px 1778px #fff;
}

#stars3 {
  width: 8px;
  height: 8px;
  box-shadow: 91px 409px #fff, 1886px 728px #fff, 1294px 970px #fff,
    720px 1215px #fff, 796px 1431px #fff, 834px 1217px #fff, 1926px 1164px #fff,
    1803px 310px #fff, 1532px 1421px #fff, 1680px 232px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  box-shadow: 91px 409px #fff, 1886px 728px #fff, 1294px 970px #fff,
    720px 1215px #fff, 796px 1431px #fff, 834px 1217px #fff, 1926px 1164px #fff,
    1803px 310px #fff, 1532px 1421px #fff, 1680px 232px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
